<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="display-1 text-center bg-primary rounded">{{title}}</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Please enter your task here"
          aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="newTask">
        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="addTask(newTask)"
          [disabled]="newTask.length === 0">Add your task</button>
      </div>
      {{newTask}}
      <ul class="list-group" *ngFor="let item of list">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          {{item.name}}
          <button class="btn btn-primary float-right" type="submit" (click)="deleteTask(item.id)">Delete</button>
        </li>
      </ul>
    </div>
  </div>
</div>